.container{
    margin: 20% 35% 0 35%;
}

.inputs{
    display: grid;
    grid-template-columns: 50% 50%;
}

.inputs input, .inputs label{
    margin-bottom: 10px;
}

input[type=submit]{
    text-align: center;
    width: 100%;
}

input[type=submit]:hover{
    cursor: pointer;
}